@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap');

html {
    --nord-color: #2e3440;
/**    background-color: var(--nord-color);*/
    color: white;
    background-repeat:repeat;
    background-image: url('cat.png');
/**    font-family: "Playpen Sans Deva", cursive;*/
}

a {
    text-decoration: none;
    color: white;
    transition: 300ms;
}

a:hover {
    color: #81a1c1;
    transition: 300ms;
}

#main {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.spacer {
    background-color: #060561;
    height: 20px;
    padding:0;
    margin:0;
    width:100%;
    border:1px solid white;
}

.group-title{
    text-align:center;
}

.group {
    background-color:#396CA5; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    max-width: 600px;
    margin-top: 35px;
}

.child {
    background-color: #4e6882;
    padding: 15px;
    transition: background-color 0.3s;
    margin-top: 1vh;
}

.child a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 16px;
    height: 16px;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
}
