@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap');
@font-face {
    font-family:'bytebounce';
    src: url('bytebounce.ttf');
}

html {
    color: white;
    background-repeat:repeat;
    font-family:'bytebounce',sans-serif;
    background-image: url('cat.png');
}

a {
    text-decoration: none;
    color: white;
    transition: 300ms;
}

a:hover {
    color: #81a1c1;
    transition: 300ms;
}

#main {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.spacer {
    background-color: #060561;
    height: 20px;
    padding:0;
    margin:0;
    width:100%;
    border:1px solid white;
}

.group-title{
    /*   font-family:'bytebounce', sans-serif;*/
    text-align:center;
    width:max-content;
    color:lightgray;
    font-weight:bold;
    text-decoration:underline;
    text-decoration-thickness: 10px;
    font-size:6vh;
    animation: colored-underline 1s linear infinite;
}

.group {
    /*    background-color:#396CA5; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
}

.child {
    background-color: #4e6882;
    padding: 15px;
}

.child a {
    display: flex;
    align-items: center;
    gap: 10px;
    height:min-content;
}

.logo {
    width: 16px;
    height: 16px;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
}

/* i dont know how it suddenly started working */
.rainbow-text{
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red);
    background-size: 800%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: rainbow 2s linear infinite;
}

@keyframes colored-underline {
    0% {
        text-decoration-color:#396BA5;
    }
    50%{
        text-decoration-color:white;
    }
    100%{
        text-decoration-color:yellow;
    }
}
@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* shit for new tables */
table {
  border-collapse: collapse;
  width: 100%;
  color: #fff;
  margin-bottom: 2rem;
}

table, th, td {
  border: 1px solid #444;
  padding: 0.5rem;
  font-family:sans-serif;
}

tr:nth-child(odd) {
  background-color:#446688; 
}

tr:nth-child(even) {
  background-color: #6688AA;
}

